
<h1>Posts</h1>

<ol>
  <% @posts.each do |post|%>
    <li> <%= link_to "Vote", logout_path %> <%= post.title %> - <%= post.content %> </li>
    <button type="submit" class="btn btn-primary btn-xs actions">Vote</button>
    <%= post.qty_likes %>
  <% end %>
</ol>
